@use 'variables' as vars;
@use 'mixins' as mixins;

.navBar {
    width: 100%;
    border-bottom: 1px solid vars.$gray-300;
    padding: 0.5rem 1rem;
    color: vars.$gray-100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appIcon {
    flex: 1;
    img {
        @include mixins.nav-icon-hover-transition();
    }
}

.searchWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 280px;
}

.spacer {
    flex: 1;
}
