@use 'variables' as vars;

@mixin ease-transition-border-and-glow {
    transition: 0.2s ease !important;
    &:hover {
        transition: 0.2s ease !important;
        background-color: vars.$gray-A1;
        outline: none !important;
        border-color: vars.$brand-primary !important;
        box-shadow: 0px 0px 1px 1px vars.$brand-primary !important;
    }
    &:focus {
        background-color: vars.$gray-A1;
        outline: none !important;
        border-color: vars.$brand-primary !important;
        box-shadow: 0px 0px 2px 2px vars.$brand-primary !important;
    }
}

@mixin nav-icon-hover-transition {
    opacity: 1;
    transition: 0.2s ease;
    &:hover {
        opacity: .5;
        transition: 0.2s ease;
    }
}

@mixin orderedListNesting {
    ol {
        list-style: upper-roman;
        ol {
            list-style: lower-roman;
            ol {
                list-style: upper-alpha;
                ol {
                    list-style: lower-alpha;
                }
            }
        }
    }
}

@mixin unorderedListNesting {
    ul {
        list-style: circle;
        ul {
            list-style: square;
        }
    }
}
