@use 'variables' as vars;

h1 {
    text-align: center;
}

.heading {
    margin-top: 2rem;
}

.creators-section {
    margin-top: 3rem;
    h2 {
        margin-bottom: 0.5rem;
    }

    span {
        display: block;
        margin-bottom: 1rem;
    }
}
