.creatorDetails {
    display: inline-flex;
}

.emailWrapper {
    display: inline-flex;
}

.creatorMetadata {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socialLink {
    span, a {
        margin-left: 0.5rem;
    }
}

.bio {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.githubActivity {
    margin-bottom: 2rem;
}
