@use 'variables' as vars;

.container {
    padding-left: 1rem;
    line-height: 40px;
    font-size: 20px;
    font-weight: 400;
    span {
        color: vars.$gray-100;
    }
    background-color: inherit;
    transition: 0.3s ease;
    &:hover {
        cursor: pointer;
        background-color: vars.$brand-primary;
        transition: 0.3s ease;
        span {
            color: vars.$gray-A1;
        }
    }
}

.link {
    span {
        transition: 0.3s ease;
        color: vars.$brand-secondary;
    }
}
