@use 'variables' as vars;

.container {
    padding-left: 1rem;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    background-color: inherit;
    transition: 0.3s ease;
    &:hover {
        cursor: pointer;
        background-color: vars.$brand-primary;
        transition: 0.3s ease;
        span {
            color: vars.$gray-A1;
        }
        .icon {
            color: vars.$gray-A1;
        }
    }
}

.rowContent {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    transition: 0.3s ease;
    color: vars.$brand-secondary;
}

.iconContainer {
    display: flex;
    align-items: center;
    height: 24px;
    width: 24px;
}

.link {
    span {
        transition: 0.3s ease;
        position: relative;
        top: 3px;
    }
}

.closed {
    display: none;
}
