@use 'variables' as vars;
@use 'mixins' as mixins;

.searchWrapper {
    position: relative;
    display: block;
    width: 100%;
}

.container {
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 2.5rem;
    background-color: vars.$gray-300;
    width: 100%;
    box-sizing: border-box;
    @include mixins.ease-transition-border-and-glow;
}

.xButton {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
}
