@use 'variables' as vars;

.searchWrapper {
    position: relative;
    display: block;
    width: 100%;
}

.container {
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 2.5rem;
    background-color: vars.$gray-300;
    transition: 0.2s ease !important;
    width: 100%;
    box-sizing: border-box;
    &:hover {
        transition: 0.2s ease !important;
        background-color: vars.$gray-A1;
        outline: none !important;
        border-color: vars.$brand-primary !important;
        box-shadow: 0px 0px 1px 1px vars.$brand-primary !important;
    }
    &:focus {
        background-color: vars.$gray-A1;
        outline: none !important;
        border-color: vars.$brand-primary !important;
        box-shadow: 0px 0px 2px 2px vars.$brand-primary !important;
    }
}

.xButton {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
}
